<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% sids.forEach(sid => { %>
        <% userIDs.forEach(userID => { %>
            <p>Session ID: <%= sid %></P>
            <p>User ID: <%= userID %></p>
         
        <% }) %>
     
    <% }) %>
</body>
</html>