<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% sessionData.forEach(session => { %>
        <p>Session ID: <%= session.sid %></P>
        <p>User ID: <%= session.userid %></p>
        
        <form action="/revoke-session/<%= session.sid %>" method="post">
            <button type="submit">Revoke session</button>
        </form>
        <% }) %>
        
        
   
     

</body>
</html>